name: CI

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master

jobs:
  build-ctags:
    name: 'Get ctags & readtags'
    runs-on: ubuntu-latest
    env:
      UCTAGS_REV: 0
    steps:
      - name: '[cache] Get current revision'
        run: |
          UCTAGS_REV=`git ls-remote \
            https://github.com/universal-ctags/ctags master \
            | cut -f1`
          echo "UCTAGS_REV=$UCTAGS_REV" >> $GITHUB_ENV
          echo $UCTAGS_REV > uctags-rev
      # No way to share variable between jobs other than using artifacts.
      - name: '[cache] Store revision as artifact'
        uses: actions/upload-artifact@v2
        with:
          name: uctags
          path: uctags-rev
          if-no-files-found: error
      - name: '[cache] Check cache'
        id: cache
        uses: actions/cache@v2
        with:
          path: 'uctags-bin'
          key: ${{ env.UCTAGS_REV }}
      - name: '[build] Checkout repo'
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/checkout@v2
        with:
          repository: 'universal-ctags/ctags'
          # Maybe the uctags repo just updated after we checked its newest
          # revision.
          ref: ${{ env.UCTAGS_REV }}
      - name: '[build] Build'
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          sudo apt-get update
          sudo apt-get install automake libjansson-dev libyaml-dev \
               libseccomp-dev libxml2-dev
          ./autogen.sh
          ./configure
          make
          mkdir -p uctags-bin
          mv ctags uctags-bin
          mv readtags uctags-bin

  test:
    name: 'Compile & unit test'
    runs-on: ubuntu-latest
    needs: build-ctags
    env:
      READTAGS_PROG: '${{ github.workspace }}/uctags-bin/readtags'
      UCTAGS_REV: 0
    strategy:
      matrix:
        emacs_version:
          - 26.1
          - 26.2
          - 26.3
          - 27.1
          - 27.2
          - 28.1
          - 28.2
          - snapshot
    steps:
      - name: '[dep] Get cached ctags revision'
        uses: actions/download-artifact@v4.1.7
        with:
          name: uctags
      - name: '[dep] Write revision to env variable'
        run: |
          UCTAGS_REV=`cat uctags-rev`
          echo "UCTAGS_REV=$UCTAGS_REV" >> $GITHUB_ENV
      - name: '[dep] Download ctags binaries'
        uses: actions/cache@v2
        id: cache
        with:
          path: 'uctags-bin'
          key: ${{ env.UCTAGS_REV }}
      - name: '[dep] Check if download failed'
        if: steps.cache.outputs.cache-hit != 'true'
        run: exit 1
      - name: '[dep] Install GNU Global'
        run: sudo apt-get install global
      - name: '[dep] Install Emacs'
        uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}
      - name: '[citre] Checkout Citre repo'
        uses: actions/checkout@v2
        with:
          # We have to specify a path here, or the GITHUB_WORKSPACE folder will
          # be cleaned first.
          path: 'citre'
      - name: '[citre] Unit tests'
        working-directory: "citre"
        run: FAIL_ON_WARNING=1 make test
      - name: '[citre] Byte compilation tests'
        working-directory: 'citre'
        run: make compile

  check-style:
    name: 'Code style check'
    runs-on: ubuntu-latest
    steps:
      - name: '[dep] Install Emacs'
        uses: purcell/setup-emacs@master
        with:
          version: release-snapshot
      - name: '[citre] Checkout Citre repo'
        uses: actions/checkout@v2
      - name: '[citre] Style check'
        run: make style
